*{
    margin: 0%;
    padding: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

/* header started */

.header2{
    font-size: 3rem;
    color: rgb(255, 255, 255);
}
.himg{
    width: 3rem;
    height: 3rem;
    margin-top: 0.4rem;
    margin-right: 1rem;
    border-radius: 2rem;
}
.header1{
    display: flex;
    
    background-color: midnightblue;
    padding: 2rem;
}
.header1 ul{
    display: flex;
    margin-left: 29rem;
    list-style: none;
}
.header1 ul li{
    padding-left: 2rem;
    font-size: 1.60rem;
    margin-top: 0.7rem;
    text-transform: uppercase;
}
.header1 ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.header3{
    margin-top: 50rem;
    display: flex;    
}
.header3 h1{
    font-size: 3rem;
    color: rgb(46, 60, 138);
    margin-left:5rem;
    margin-top: 0.8rem;
}
.header3 button{
    font-size: 2rem;
    color: rgb(255, 255, 255);
    margin-left:40rem;
    background-color:rgb(46, 60, 138);
    padding: 1rem;
    border-radius: 2rem;
}
/* header started */
/* about started */
.about{
    padding-top: 2rem;
    background-color: rgb(247, 245, 245);
    height: 50rem;
}
.about1{
    text-align: center;
    font-size: 3rem;
    padding-bottom: 2rem;  
}
.about2{
    display: flex;
}
.about3{
    padding: 0rem 5rem;
}
.about3 ul{
    padding-left: 3rem;
    font-size: 2rem;
}
.about3 ul li{
    padding-bottom: 2rem;
}
.about3 p{
   font-size: 1.40rem;
   padding-bottom: 4rem;
}
.about3 h3{
    font-size: 2.34rem;
    padding-bottom: 4rem;
    font-family:'Times New Roman', Times, serif;
}
.about5 img{
    width: 60rem;
    height: 70vh;
}
/* about ended */

.section-title h2:before, .section-title h2:after {
    content: "";
    width: 50px;
    height: 2px;
    background: red ;
    display: inline-block;
  } 
  
  .section-title h2:before {
    margin: 0 15px 10px 0;
  }
  
  .section-title h2:after {
    margin: 0 0 10px 15px;
  }
    /* fetures started */
  /* .fetures{
    display: flex;
    padding: 1rem;
  } */
  .grid-container {
    display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 1px;
   
  }
  .fetures{
    height: 70vh;
  }
  .fer{
    padding-top: 2rem;
    padding-bottom: 6rem;
  }
  .fimg{
    width: 20rem;
    height: 20rem;
    margin-bottom: 3rem;
  }
  .fetures1{
  margin-left: 1rem;
  }
  .fetures1 h3{
    font-size: 1.20rem;
    margin-bottom: 2rem;
    
  }
  .fetures1 h5{
    font-size: 1.20rem;
  }

    /* fetures ended */

       /* audio started  */
  .audio{
    font-size: 3rem;
    color: rgb(67, 67, 196);
    margin-left: 2rem;
  }
  .audio5{
    font-size: 2rem;
    padding: 1rem;
    width: 1.80rem;
    height: 2.10rem;
    background-color:white;
    border-radius: 3rem;
    margin-right: 1rem;
  }
  .audio6{
    width: 100%;
  }
  .audio4{
     font-size: 2rem;
  }
  .audio2{
    display: flex;
    background-color:rgb(190, 190, 190);
    padding: 3rem;
    margin: 1rem;
  }
  .audio1{
    display: grid;
  grid-template-columns: auto auto;
  padding: 1px;
  }
          /* audio ended  */

          /* practice  started */
  .practice1{
    font-size: 3rem;
    text-align: initial;
    font-weight: 100;
    padding: 1rem;
  }
  .practice3 img{
    width: 20rem;
    height: 19rem;
  }
  .practice3{
    padding: 3rem;
  }
  .practice2{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    padding: 1px;
  }
  
          /* practice  started */

          /* login started */
  .log{
     background-color: rgb(255, 255, 255);
  }
  .log1{
    display: flex;
  }
  .log1 h1{
    font-size: 4rem;
    margin-left: 4rem;
    margin-top: 4rem;
  }
  .log2{
    display: table-caption;
    margin-left:50rem;
    font-size: 1rem;
  }

  .log2 h1{
    font-size: 6rem;
    padding-bottom: 3rem;
    text-align: initial;
    
  }
  .log2 label{
    font-size: 3rem;
  }
  .log2 input{
    padding: 0.4rem;
    width: 100%;
  }
          /* login ended */
          /* footer started  */
  .footer{
    
    display: flex;
    justify-content: space-between;
    padding-left: 6rem;
    padding-right: 6rem;
    font-size: 1rem;
    background-color: rgb(85, 85, 141);
  }
  .footer1 h4{
    font-size: 3rem;
    padding-bottom: 2rem;
    color: rgb(199, 53, 53);
  }
  .footer1 p{
    font-size: 2rem;
    padding-bottom: 2rem;
  }
            /* footer ended  */